<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="basic.configuration" type="Basic.Configuration.ConfigurationGroup, Basic.EntityLayer, Version=6.0.0.0, Culture=neutral, PublicKeyToken=05b894720f87549d">
			<section name="basic.connections" type="Basic.Configuration.ConnectionsSection, Basic.DataAccess, Version=6.0.0.0, Culture=neutral, PublicKeyToken=05b894720f87549d" />
			<section name="basic.cultures" type="Basic.Configuration.CulturesSection, Basic.EntityLayer, Version=6.0.0.0, Culture=neutral, PublicKeyToken=05b894720f87549d" />
		</sectionGroup>
	</configSections>
	<basic.configuration>
		<basic.connections defaultName="HRMS">
			<basic.connection name="MYSQL" connectionType="MySqlConnection">
				<add name="Initial Catalog" value="HRMS-V5" />
				<add name="Data Source" value="localhost" />
				<add name="Port" value="3308" />
				<add name="User ID" value="root" />
				<add name="Password" value="HC402Munn6G+IUa/N8hAHhklub9tpA9hHEhhVBk65L8=" />
			</basic.connection>
			<basic.connection name="HRMS" connectionType="NewSqlConnection" version="12">
				<add name="Application Name" value="HRMS" />
				<add name="Initial Catalog" value="HRMS-V5" />
				<add name="Data Source" value="(local)" />
				<add name="User ID" value="sa" />
				<add name="Password" value="C/1Shp55C14b0TtEhs87bg==" />
			</basic.connection>
			<basic.connection name="DEMO" connectionType="SqlConnection">
				<add name="Application Name" value="HRMS-V5" />
				<add name="Initial Catalog" value="DEMO-EHR" />
				<add name="Data Source" value="(local)" />
				<add name="User ID" value="sa" />
				<add name="Password" value="C/1Shp55C14b0TtEhs87bg==" />
			</basic.connection>
			<basic.connection name="TSKF" connectionType="SqlConnection">
				<add name="Application Name" value="HRMS-V5" />
				<add name="Initial Catalog" value="TSKF-EHR" />
				<add name="Data Source" value="(local)" />
				<add name="User ID" value="sa" />
				<add name="Password" value="C/1Shp55C14b0TtEhs87bg==" />
			</basic.connection>
			<basic.connection name="MESSER" connectionType="SqlConnection">
				<add name="Application Name" value="HRMS-V5" />
				<add name="Initial Catalog" value="MESSER-EHR" />
				<add name="Data Source" value="192.168.1.15" />
				<add name="User ID" value="sa" />
				<add name="Password" value="zmh0sD6IruRzNVF90xsJCxUsp6NVAZ8OR2jvU0Lsifs=" />
			</basic.connection>
			<basic.connection name="LMESSER" connectionType="SqlConnection">
				<add name="Application Name" value="HRMS" />
				<add name="Initial Catalog" value="MESSER-EHR-1101" />
				<add name="Data Source" value="(local)" />
				<add name="User ID" value="sa" />
				<add name="Password" value="C/1Shp55C14b0TtEhs87bg==" />
			</basic.connection>
			<basic.connection name="LSONOVA" connectionType="SqlConnection">
				<add name="Application Name" value="SONOVA-EHR" />
				<add name="Data Source" value="(local)" />
				<add name="Initial Catalog" value="SONOVA-EHR-0427" />
				<add name="Persist Security Info" value="True" />
				<add name="User ID" value="sa" />
				<add name="Password" value="C/1Shp55C14b0TtEhs87bg==" />
				<add name="Max Pool Size" value="2000" />
			</basic.connection>
			<basic.connection name="SONOVA" connectionType="SqlConnection">
				<add name="Application Name" value="HRMS-V5" />
				<add name="Data Source" value="10.176.3.59" />
				<add name="Initial Catalog" value="SONOVA-EHR" />
				<add name="Persist Security Info" value="True" />
				<add name="User ID" value="hrms" />
				<add name="Password" value="zmh0sD6IruRzNVF90xsJCxUsp6NVAZ8OR2jvU0Lsifs=" />
				<add name="Max Pool Size" value="2000" />
			</basic.connection>
			<basic.connection name="XINGHUA" connectionType="SqlConnection">
				<add name="Application Name" value="HRMS-V5" />
				<add name="Data Source" value="192.168.10.24" />
				<add name="Initial Catalog" value="XINGHUA-EHR" />
				<add name="Persist Security Info" value="True" />
				<add name="User ID" value="hrms" />
				<add name="Password" value="zmh0sD6IruRzNVF90xsJCxUsp6NVAZ8OR2jvU0Lsifs=" />
				<add name="Max Pool Size" value="2000" />
			</basic.connection>
			<basic.connection name="XINGHUAL" connectionType="SqlConnection">
				<add name="Application Name" value="HRMS" />
				<add name="Initial Catalog" value="XINGHUA-EHR" />
				<add name="Data Source" value="(local)" />
				<add name="Max Pool Size" value="2000" />
				<add name="User ID" value="sa" />
				<add name="Password" value="C/1Shp55C14b0TtEhs87bg==" />
			</basic.connection>
			<basic.connection name="LSJEC" connectionType="SqlConnection">
				<add name="Application Name" value="SJEC-HRMS" />
				<add name="Initial Catalog" value="SJEC-EHR-0324" />
				<add name="Data Source" value="(local)" />
				<add name="User ID" value="sa" />
				<add name="Password" value="C/1Shp55C14b0TtEhs87bg==" />
			</basic.connection>
			<basic.connection name="SJEC" connectionType="SqlConnection">
				<add name="Application Name" value="HRMS-V5" />
				<add name="Initial Catalog" value="SJEC-EHR" />
				<add name="Data Source" value="10.0.0.23" />
				<add name="Max Pool Size" value="2000" />
				<add name="User ID" value="hrms" />
				<add name="Password" value="yeYODrOEHq+Lgud6Idw3rVsmDujMWptYP48Lnukdozc=" />
			</basic.connection>
			<basic.connection name="WYETH-ONLINE" connectionType="SqlConnection" version="12">
				<add name="Application Name" value="HRMS" />
				<add name="Initial Catalog" value="WYETH-EHR" />
				<add name="Data Source" value="11.97.190.12\Attendance" />
				<add name="Max Pool Size" value="2000" />
				<add name="User ID" value="hrms" />
				<add name="Password" value="CW4qo9XjYq8lvfXrWem48vgznWbu8K4MJwpJQ6mRH3o=" />
			</basic.connection>
			<basic.connection name="WYETH" connectionType="SqlConnection" version="12">
				<add name="Application Name" value="HRMS" />
				<add name="Initial Catalog" value="WYETH-EHR-0416" />
				<add name="Data Source" value="(local)" />
				<add name="Max Pool Size" value="2000" />
				<add name="User ID" value="sa" />
				<add name="Password" value="C/1Shp55C14b0TtEhs87bg==" />
			</basic.connection>
			<basic.connection name="ALINCO" connectionType="SqlConnection">
				<add name="Application Name" value="HRMS" />
				<add name="Initial Catalog" value="ALINCO-EHR-0504" />
				<add name="Data Source" value="(local)" />
				<add name="Max Pool Size" value="2000" />
				<add name="User ID" value="sa" />
				<add name="Password" value="C/1Shp55C14b0TtEhs87bg==" />
			</basic.connection>
			<basic.connection name="ONALINCO" connectionType="SqlConnection">
				<add name="Application Name" value="HRMS" />
				<add name="Data Source" value="192.168.139.7" />
				<add name="Initial Catalog" value="ALINCO-EHR" />
				<add name="User ID" value="sa" />
				<add name="Password" value="G+x19w3KW8OOaDjjkqqx81smDujMWptYP48Lnukdozc=" />
			</basic.connection>
		</basic.connections>
		<basic.eventLogs tableName="SYS_EVENTLOG" mode="Weekly">
			<basic.eventLog logLevel="Information" saveType="DataBase" enabled="true" />
			<basic.eventLog logLevel="Warning" saveType="DataBase" enabled="true" />
			<basic.eventLog logLevel="Error" saveType="LocalFile" enabled="true" />
		</basic.eventLogs>
	</basic.configuration>
</configuration>