<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="60201JACKYTAN.6229018463A7A"
    Publisher="CN=46D8CD83-8E4D-4CB7-9366-F1B0AF102266"
    Version="4.7.5.0" />

  <mp:PhoneIdentity PhoneProductId="33bf8e1a-3e78-4c33-9954-447b73d3c44e" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>资源编辑器</DisplayName>
    <PublisherDisplayName>JACKY TAN</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Basic.Editor.App">
      <uap:VisualElements
        DisplayName="ASP.NET 资源编辑器"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="编辑(*.localresx)多语言资源文件"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name=".localresx">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/xml">.localresx</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:InfoTip>ASP.NET MVC 本地化资源编辑器</uap:InfoTip>
            <uap:DisplayName>ASP.NET MVC 本地化资源编辑器</uap:DisplayName>
            <uap:Logo>localresx.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name=".dpdl">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/xml">.dpdl</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>ASP.NET MVC 数据持久设计文件</uap:DisplayName>
            <uap:InfoTip>ASP.NET MVC 数据持久设计文件</uap:InfoTip>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>dpdl.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name=".sqlf">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/xml">.sqlf</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:Logo>dbconfig.png</uap:Logo>
            <uap:DisplayName>SQL SERVER 配置文件</uap:DisplayName>
            <uap:InfoTip>SQL SERVER 配置文件</uap:InfoTip>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name=".oraf">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/xml">.oraf</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>ORACLE 配置文件</uap:DisplayName>
            <uap:InfoTip>ORACLE 配置文件</uap:InfoTip>
            <uap:Logo>dbconfig.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name=".pgf">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/xml">.pgf</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:Logo>dbconfig.png</uap:Logo>
            <uap:DisplayName>PostgreSQL 配置文件</uap:DisplayName>
            <uap:InfoTip>PostgreSQL 配置文件</uap:InfoTip>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name=".myf">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/xml">.myf</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>My SQL 配置文件</uap:DisplayName>
            <uap:InfoTip>My SQL 配置文件</uap:InfoTip>
            <uap:Logo>dbconfig.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileOpenPicker">
          <uap:FileOpenPicker>
            <uap:SupportedFileTypes>
              <uap:FileType>.localresx</uap:FileType>
              <uap:FileType>.dpdl</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileOpenPicker>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>